[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "causalCmprsk"]
	path = causalCmprsk
	url = https://github.com/bella2001/causalcmprsk
[submodule "coxrt"]
	path = coxrt
	url = https://github.com/bella2001/coxrt
